<%= error_messages_for(@pediatric) %>

<div class="addrecord">
							
<table>
	<thead>
    <tr>
      <td colspan="4"><h4>Personal Information</h4></td>
    </tr>
  </thead>

	<tbody>
		<tr>
			<td><%= f.label(:full_name, "Full Name") %></td>
      <td colspan="3"><%= f.text_field(:full_name, :class=>'input-xlarge') %></td>
    </tr>

    <tr>
      <td><%= f.label(:address, "Address") %></td>
      <td colspan="3"><%= f.text_field(:address, :class=>'input-xxlarge') %></td>
    </tr>

    <tr>
      <td><%= f.label(:mother_name, "Mother's") %></td>
      <td colspan="3">
        <%= f.text_field(:mother_name, :class=>'input-medium', :placeholder => "Name") %>
        <%= f.text_field(:m_occupation, :class=>'input-medium', :placeholder => "Occupation") %>
        &nbsp;<span>Age</span>&nbsp;
        <%= f.select(:m_age, 15..90, { :include_blank => true }, :class=>'auto') %>
      </td>
    </tr>

    <tr>
      <td><%= f.label(:father_name, "Father's", :class=> 'left-margin') %></td>
      <td colspan="3">
        <%= f.text_field(:father_name, :class=>'input-medium', :placeholder => 'Name') %>
				<%= f.text_field(:f_occupation, :class=>'input-medium', :placeholder => "Occupation") %>
				&nbsp;<span>Age</span>&nbsp;
				<%= f.select(:m_age, 15..90, { :include_blank => true }, :class=>'auto') %>
      </td>
    </tr>

    <tr>
      <td><%= f.label(:birth_date, "Birth Date") %></td>
      <td colspan="2">
        <%= f.text_field(:birth_date, :class => 'input-medium') %>

        &nbsp;<span>Age</span>&nbsp;
        <%= f.select(:age, 1..15, { :include_blank => true }, :class=>'round dropdown') %>
      </td>
      
    </tr>

    <tr>
      <td><%= f.label(:contact_no) %></td>
      <td><%= f.text_field(:contact_no, :class=>'input-medium') %>

      	&nbsp;<span>Gender</span>&nbsp;	
        <%= f.select(:sex, %w{Male Female}) %>
      </td>
    </tr>

	</tbody>
</table>

<table>
  <tr>
    <th colspan="5"><h4>Birth History and Development</h4></th>
  </tr>
  
  <tr>
    <td><%= f.label(:term) %></td>
    <td><%= f.text_field(:term, :class=>'input-large') %></td>
                      
    <td><%= f.label(:head_circ) %></td>
    <td><%= f.text_field(:head_circ, :class=>'input-large') %></td>                   
  </tr>
  
  <tr>
    <td><%= f.label(:delivery) %></td>
    <td><%= f.text_field(:delivery, :class=>'round medium-size-input') %></td>
                      
    <td><%= f.label(:chest_circ, "Chest Circ.") %></td>
    <td><%= f.text_field(:delivery, :class=>'input-large') %></td>
  </tr>
  
  <tr>
    <td><%= f.label(:birth_weight, "Birth Weight") %></td>
    <td><%= f.text_field(:head_circ, :class=>'input-large') %></td>
                      
    <td><%= f.label(:abdominal) %></td>
    <td><%= f.text_field(:abdominal, :class=>'input-large') %></td>
  </tr>
  
  <tr>
    <td><%= f.label(:birth_length, "Birt Length") %></td>
    <td><%= f.text_field(:birth_length, :class=>'input-large') %></td>
                      
    <td><%= f.label(:obsterician) %></td>
    <td><%= f.text_field(:obsterician, :class=>'input-large') %></td>
  </tr>

  <tr>
    <td colspan="2" class="allergy"><label>Allergy</label></td>
  </tr>

  <tr>
    <td><%= f.label(:food, "1.Food") %></td>
    <td><%= f.text_field(:food, :class=>'input-large') %></td>
  </tr>

  <tr>
    <td><%= f.label(:medicine, "2.Medicine") %></td>
    <td><%= f.text_field(:medicine, :class=>'input-large') %></td>
  </tr>

  <tr>
    <td><%= f.label(:others, "3.Others") %></td>
    <td><%= f.text_field(:others, :class=>'input-large') %></td>
  </tr>
</table>

<table>
  <tr>
    <td colspan="2">
      <h4>Feeding History and Immunization</h4>
    </td>
  </tr>  

  <tr>
    <td><%= f.label(:type_of_feeding, "Type of Feeding") %></td>
    <td><%= f.text_field(:type_of_feeding, :class=>'input-xlarge') %></td>
  </tr>

  <tr>
    <td><%= f.label(:supplementary) %></td>
    <td><%= f.text_field(:supplementary, :class=>'input-xlarge') %></td>
  </tr>
</table>

</div> <!-- end of addrecord -->

