.records
  %h4.left
  = render(:partial => 'shared/search')
  %table.both.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %th Name
        %th Address
        %th Contact no.
        %th Actions
    - @pediatrics.each do |pedia|
      %tbody
        %tr{:class => cycle('odd', 'even')}
          %td= pedia.full_name
          %td= pedia.address
          %td= pedia.contact_no
          %td
            .btn-group
            - if current_user.admin?
              = link_to raw('<i class="icon-tasks icons-black"></i>'), pedia_examinations_path(pediatric_id: pedia.id), role: "button", :class => 'btn', :title => 'examination'
              = link_to raw('<i class="icon-tag icons-black"></i>'), immunizations_path(pediatric_id: pedia.id), role: "button", :class => 'btn', :title => 'immunization'
              = link_to raw('<i class="icon-eye-open icons-black"></i>'), pedia, remote: true, role: "button", :class => 'btn', :title => 'view'
              = link_to raw('<i class="icon-pencil icons-black"></i>'), edit_pediatric_path(pedia), remote: true, role: "button", :class => 'btn', :title => 'edit'
              = link_to raw('<i class="icon-trash icons-black"></i>'), pedia, :confirm => 'Are you sure do you want to delete this record?', method: :delete, role: "button", remote: true, :class => 'btn', :title => 'delete'
            - else
              = link_to raw('<i class="icon-eye-open icons-black"></i>'), pedia, remote: true, role: "button", :class => 'btn', :title => 'view'

  .pagination
    = will_paginate(@pediatrics, :container => true)