.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  %h3 Show Record
.modal-body
  
  %table.show-details.table.table-bordered
    %thead
      %tr
        %th{:colspan=> '6'} Personal Information
    %tbody
      %tr
        %td Full Name: 
        %td{:colspan=> '5'}= @pediatric.full_name
      %tr
        %td Address: 
        %td{:colspan=> '5'}= @pediatric.address
      %tr
        %td Mother's Name: 
        %td= @pediatric.mother_name
        %td Occupation:
        %td= @pediatric.m_occupation
        %td Age: 
        %td= @pediatric.m_age
      %tr
        %td Fathers's Name: 
        %td= @pediatric.father_name
        %td Occupation:
        %td= @pediatric.f_occupation
        %td Age: 
        %td= @pediatric.f_age 
      %tr
        %td Birthdate: 
        %td{:colspan=> '5'}= @pediatric.birth_date
      %tr
        %td Age:
        %td{:colspan=> '5'}= @pediatric.f_age
      %tr
        %td Contact No: 
        %td{:colspan=> '5'}= @pediatric.contact_no

    %table.show-details.table.table-bordered
      %thead   
        %tr
          %th{:colspan => "4"} Birth History and Development
      %tbody    
        %tr
          %td Term:
          %td= @pediatric.term
          %td Head Circ
          %td= @pediatric.head_circ
        %tr
          %td Delivery
          %td= @pediatric.delivery
          %td Chest Circ
          %td= @pediatric.chest_circ
        %tr
          %td Birth Weight
          %td= @pediatric.birth_weight
          %td Abdominal
          %td= @pediatric.abdominal
        %tr
          %td Birth Length
          %td= @pediatric.birth_length
          %td Obstetrician
          %td= @pediatric.obsterician
        %tr
          %td.allergy{:colspan => "4"}
            %label Allergy
        %tr
          %td Food
          %td{:colspan => "3"}= @pediatric.food
        %tr
          %td Medicine
          %td{:colspan => "3"}= @pediatric.medicine 
        %tr
          %td Others
          %td{:colspan => "3"}= @pediatric.others
        %tr 
          %th{:colspan => "4"} Feeding History and Immunization
        %tr
          %td{:colspan => "3"} Type of Feeding
          %td Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        %tr
          %td{:colspan => "3"} Supplementary
          %td= @pediatric.supplementary
      
  %table.show-details.table.table-bordered
    %thead
      %tr
        %th{:colspan=> '2'} Examination
    %tbody
      %tr
        %td Examination Date: 
        %td January 1, 2012
      %tr
        %td Weight:
        %td= @pediatric.weight
      %tr
        %td Height: 
        %td= @pediatric.height
      %tr
        %td History and Physical Examination:
        %td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      %tr
        %td Physician's Instructions
        %td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      %tr
        %td Created At:
        %td= @pediatric.created_at
      %tr
        %td Updated At:
        %td= @pediatric.updated_at


.modal-footer
  %a.btn{"data-dismiss" => "modal", :href => "#"} Close