<% @page_title = "Edit Pedia Record" %>
	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<%= render(:partial => 'pediatrics/sidenav') %>
		</div> <!-- end of side-menu-option -->
		<div class="side-menu-calendar">
			<a href="#"><img src="../assets/calendar.png" alt="calendar"></a>
		</div>
	</div> <!-- end of side-menu -->
	<div class="side-content grid_19">

		<div class="content-module">

			<div class="content-module-heading cf">
				<h3>Patient's Form</h3>
			</div> <!-- end of side-content-heading -->

			<div class="content-module-main cf">
			
			<%= form_for(:pediatric, :url => {:action => 'update', :id => @pediatric.id}) do |f| %>

				<%= render(:partial => "form", :locals => {:f => f}) %>

				<div class="sub-heading">
					<h4>Pedia Examination</h4>
				</div>

				<div class="birthHistory-andDevelopment">	
					<table>
						<tr>
							<td><%= f.label(:examination_date, "Examination Date") %></td>
							<td><%= f.date_select(:examination_date, :order => [:month, :day, :year]) %></td>
						</tr>
						<tr>
							<td><%= f.label(:weight) %></td>
							<td><%= f.text_field(:weight, :class=>'round half-size-input') %></td>
						</tr>
						<tr>
							<td><%= f.label(:height) %></td>
							<td><%= f.text_field(:height, :class=>'round half-size-input') %></td>
						</tr>
						<tr>
							<td><%= f.label(:history_physical_exams, "History and Physical Exams") %></td>
							<td><%= f.text_area(:history_physical_exams, :size => '40x5') %></td>
						</tr>
						<tr>
							<td><%= f.label(:physicians_instructions, "Physician's Insructions") %></td>
							<td><%= f.text_area(:physicians_instructions, :size => '40x5') %></td>
						</tr>
					</table>
				</div>	
					<%= submit_tag("SUBMIT", {:class => 'button round blue text-upper image-right ic-right-arrow'}) %>
				</div> <!-- end of birthHistory-andDevelopment -->
		<% end -%>
		</div> <!-- end of content-module-main -->
	</div> <!-- end of content-module -->
</div> <!-- end of side-content -->

