<% @page_title = "Delete Pedia Record" %>

	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<%= render(:partial => 'pediatrics/sidenav') %>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->

	<div class="side-content grid_19">
		
		<div class="content-module">

			<div class="content-module-heading cf">
				<h3>DELETE PATIENT RECORD</h3>
			</div> <!-- end of side-content-heading -->
			
			<div class="content-module-main cf">
			
				<div class="sub-heading">
					<h4>Personal Information</h4>
				</div>
			<%= form_for(:pediatric, :url => {:action => 'destroy', :id => @pediatric.id}) do |f| %>
					<div class="personal-information-delete">	
			
						<p>
							<%= label(:full_name, "Full Name: ") %>
							<%= @pediatric.full_name %><br />
														
							<%= label(:birth_date, "Birth Date: ") %>
							<%= @pediatric.birth_date %><br />
															
							<%= label(:sex, "Sex: ") %>
							<%= @pediatric.sex %><br />
														
							<%= label(:age, "Age: ") %>
							<%= @pediatric.age %><br />
														
							<%= label(:address, "Address: ") %>
							<%= @pediatric.address %><br />
														
							<%= label(:contact_no, "Tel. no.: ") %>
							<%= @pediatric.contact_no %><br />
															
							<%= label(:mother_name, "Mother's Name: ") %>
							<%= @pediatric.mother_name %><br />
														
							<%= label(:m_occupation, "Mother's Occupation: ") %>
							<%= @pediatric.m_occupation %><br />
														
							<%= label(:m_age, "Mother's Age: ") %>
							<%= @pediatric.m_age %><br />
															
							<%= label(:father_name, "Father's Name: ") %>
							<%= @pediatric.father_name %><br />
							
							<%= label(:f_occupation, "Father's Occupation: ") %>
							<%= @pediatric.f_occupation %><br />
														
							<%= label(:f_age, "Father's Age: ") %>
							<%= @pediatric.f_age %><br />
						</p>
								
					</div>

					<%= submit_tag("DELETE", {:class => 'button round blue text-upper image-right ic-delete', :onclick=> "return confirm('Are you sure?')"}) %>
				</div> <!-- end of birthHistory-andDevelopment -->
		<% end -%>
		</div> <!-- end of content-module-main -->

	</div> <!-- end of content-module -->

</div> <!-- end of side-content -->

	