<% @page_title = "Show Pedia" %>

	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<%= render(:partial => 'pediatrics/sidenav') %>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->

	<div class="side-content grid_19">
		
		<div class="content-module">

			<div class="content-module-heading cf">
				<h3>SHOW PATIENT'S INFORMATION DETAILS</h3>
			</div> <!-- end of side-content-heading -->
			
			<div class="content-module-main cf">
			
				<div class="sub-heading">
					<h4>Personal Information</h4>
				</div>		
					<div class="personal-information-show">
						
						<p>
							<%= label(:full_name, "Full Name: ") %>
							<strong><%= @pediatric.full_name %></strong><br />
														
							<%= label(:birth_date, "Birth Date: ") %>
							<strong><%= @pediatric.birth_date %></strong><br />
													
							<%= label(:sex, "Sex: ") %>
							<strong><%= @pediatric.sex %></strong><br />
														
							<%= label(:age, "Age: ") %>
							<strong><%= @pediatric.age %></strong><br />
														
							<%= label(:address, "Address: ") %>
							<strong><%= @pediatric.address %></strong><br />
														
							<%= label(:contact_no, "Tel. no.: ") %>
							<strong><%= @pediatric.contact_no %></strong><br />
													
							<%= label(:mother_name, "Mother's Name: ") %>
							<strong><%= @pediatric.mother_name %></strong><br />
															
							<%= label(:m_occupation, "Mother's Occupation: ") %>
							<strong><%= @pediatric.m_occupation %></strong><br />
													
							<%= label(:m_age, "Mother's Age: ") %>
							<strong><%= @pediatric.m_age %></strong><br />
														
							<%= label(:father_name, "Father's Name: ") %>
							<strong><%= @pediatric.father_name %></strong><br />
															
							<%= label(:f_occupation, "Father's Occupation: ") %>
							<strong><%= @pediatric.f_occupation %></strong><br />
															
							<%= label(:f_age, "Father's Age: ") %>
							<strong><%= @pediatric.f_age %></strong><br />
						</p>
								

					</div> <!-- end of personal-information -->

					<div class="sub-heading">
						<h4>Birth History and Development</h4>
					</div>

					<div class="birthHistory-andDevelopment-show">
						
						<table class="birthHistory-andDevelopment">

							<tr>
								<td><%= label(:term, "Term: ") %></td>
								<td><strong><%= @pediatric.term%></strong></td>

								<td><%= label(:head_circ, "Head Circ.: ") %></td>
								<td><strong><%= @pediatric.head_circ %></strong></td>
								<td>Allergy</td>
							</tr>

							<tr>
								<td><%= label(:delivery, "Delivery: ") %></td>
								<td><strong><%= @pediatric.delivery %></strong></td>

								<td><%= label(:chest_circ, "Chest Circ.: ") %></td>
								<td><strong><%= @pediatric.chest_circ %></strong></td>

								<td><%= label(:food, "1.Food: ") %></td>
								<td><strong><%= @pediatric.food %></strong></td>
							</tr>

							<tr>
								<td><%= label(:birth_weight, "Birth Weight: ") %></td>
								<td><strong><%= @pediatric.birth_weight %></strong></td>

								<td><%= label(:abdominal, "Abdominal: ") %></td>
								<td><strong><%= @pediatric.abdominal %></strong></td>

								<td><%= label(:medicine, "2.Medicine: ") %></td>
								<td><strong><%= @pediatric.medicine %></strong></td>
							</tr>

							<tr>
								<td><%= label(:birth_length, "Birt Length: ") %></td>
								<td><strong><%= @pediatric.birth_length %></strong></td>

								<td><%= label(:obsterician, "Obsterician: ") %></td>
								<td><strong><%= @pediatric.obsterician %></strong></td>

								<td><%= label(:others, "3.Others: ") %></td>
								<td><strong><%= @pediatric.others %></strong></td>
							</tr>

						</table>

					</div>	
						<div class="sub-heading">
							<h4>Feeding History and Immunization</h4>
						</div>
						<div class="feeding-history-show">
						
							<p>
								<%= label(:type_of_feeding, "Type of Feeding: ") %>
								<strong><%= @pediatric.type_of_feeding %></strong><br />
															
								<%= label(:supplementary, "Supplementary: ") %>
								<strong><%= @pediatric.supplementary %></strong>
							</p>
						
					</div>

					<div class="sub-heading">
						<h4>Pedia Examination</h4>
					</div>

					<div class="examination-show">	
						
						<P>
							<%= label(:examination_date, "Examination Date: ") %>
							<strong><%= @pediatric.examination_date %></strong><br />

							<%= label(:weight, "Weight: ") %>
							<strong><%= @pediatric.weight %></strong><br />
															
							<%= label(:height, "Height: ") %>
							<strong><%= @pediatric.height %></strong><br />
															
							<%= label(:history_physical_exams, "History and Physical Exams: ") %>
							<strong><%= @pediatric.history_physical_exams %></strong><br />
															
							<%= label(:physicians_instructions, "Physician's Insructions: ") %>
							<strong><%= @pediatric.physicians_instructions %></strong><br />
						</P>
								
					</div>	
					</div> <!-- end of birthHistory-andDevelopment -->
			</div> <!-- end of content-module-main -->

		</div> <!-- end of content-module -->

	</div> <!-- end of side-content -->

