= form_tag({:action => 'find_email'}, :id => 'login-form', :class => 'container_24')  do
  %fieldset
    %p
      = label_tag(:email, "Please enter your email address.")
      = text_field_tag(:email)
      %br/
      %br/
      = submit_tag("SUBMIT", {:class => 'button round blue text-upper image-right ic-right-arrow'})
      %br/
      %br/
    %p= link_to("Log In", :controller => 'admin')