= form_tag({:action => 'attempt_login'}, :class => "form-signin")  do
  %center
    = image_tag("logo-company.png", :alt => "logo")
  %br
  = text_field_tag :username, nil, :class => 'input-block-level', :placeholder=>'Username'
  = password_field_tag(:password, nil, :class=> 'input-block-level', :placeholder=>'Password')
  = link_to("Forgot your password?", {:action => 'forgot_password'})
  %br
    %br
      = submit_tag("Log In", {:class => 'btn btn-primary'})
  - if !flash[:notice].blank?
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      %strong= flash[:notice]
