%script{:charset => "utf-8", :type => "text/javascript"}
  $(function() {
  new Highcharts.Chart({
  chart: {
  renderTo: "ortho_chart"
  },
  title: {
  text: "Orthodontics"
  },
  xAxis: {
  type: "datetime"
  },
  yAxis: {
  title: {
  text: "Outpatient Summary"
  }
  },
  series: [{
  name: "Summary",
  pointInterval: #{1.day * 1000},
  pointStart: #{3.weeks.ago.to_i * 1000},
  data: #{(3.weeks.ago.to_date..Date.today).map { |date| Orthodontic.total_on(date).to_f }.inspect}
  },
  {
  name: "Scheduled",
  pointInterval: #{1.day * 1000},
  pointStart: #{3.weeks.ago.to_i * 1000},
  data: [1, 4, 6, 8, 3, 4, 9, 6, 8, 3, 6, 9, 6, 8, 3, 6]
  }]
  });
  });
  $(function() {
  new Highcharts.Chart({
  chart: {
  renderTo: "pedia_chart"
  },
  title: {
  text: "Pediatrics"
  },
  xAxis: {
  type: "datetime"
  },
  yAxis: {
  title: {
  text: "Outpatient Summary"
  }
  },
  series: [{
  name: "Summary",
  pointInterval: #{1.day * 1000},
  pointStart: #{3.weeks.ago.to_i * 1000},
  data: #{(3.weeks.ago.to_date..Date.today).map { |date| Pediatric.total_on(date).to_f }.inspect}
  },
  {
  name: "Scheduled",
  pointInterval: #{1.day * 1000},
  pointStart: #{3.weeks.ago.to_i * 1000},
  data: [3 ,5 ,9 ,2 ,7 ,4 ,8 ,2 ,3 ,7 ,4, 3,5 ,9 ,2 ,7 ,4 ,8]
  }]
  });
  });
- @page_title = "Analytics"
.container
  .header
    .left.subtitle
      %h1 Analytics
      %span
        %i.icon-list.icons-black
        Summary of the Outpatients
  .content.both
    .row
      .span12
        .records.clearfix
          %center
            #ortho_chart{:style => "width:750px; height:300px;"}
            #pedia_chart{:style => "width:750px; height:300px;"}

  


