<%= error_messages_for(@pending) %>

<div class="addrecord">

	<table>
		<tr>	
			<td><%= f.label(:full_name) %></td>
			<td><%= f.text_field(:full_name, :class=> 'round') %></td>
		</tr>
		<tr>	
			<td><%= f.label(:patient_status) %></td>
			<td><%= f.select(:patient_status, %w(HMO private)) %></td>
		</tr>
		<tr>	
			<td><%= f.label(:pending_for) %></td>
			<td><%= f.select(:pending_for, %w(pediatric orthopedic)) %></td>
		</tr>
	</table>
	<br />

</div>