<% @page_title = "Delete Pending Record" %>

	<div class="side-menu grid_5">

		<div class="side-menu-option">
			<%= render(:partial => 'sidenav') %>
		</div> <!-- end of side-menu-option -->
		<div class="side-menu-calendar">
			<a href="#"><img src="../assets/calendar.png" alt="calendar"></a>
		</div>
	</div> <!-- end of side-menu -->

	<div class="side-content grid_19">
		<div class="content-module">
			<div class="content-module-heading cf">
				<h3> DELETE PENDING RECORD </h3>
			</div> <!-- end of content-module-heading -->

			<div class="content-module-main">
	
					<%= form_for(:pending, :url => {:action => 'destroy', :id => @pending.id}) do |f| %>
						<div class="personal-information">

						<p>
							<%= label(:full_name, "Name: ") %>
							<%= @pending.full_name %><br />
												
							<%= label(:patient_status) %>
							<%= @pending.patient_status %><br />
											
							<%= label(:pending_for %>
							<%= @pending.pending_for %><br />
						</p>

					</div> <!-- end of personal-information -->
											<br />
						<%= submit_tag("DELETE", {:class => 'button round blue text-upper image-right ic-delete'}) %>
					<% end %>

				</div> <!-- end of content-module-main -->

			</div> <!-- end of content-module -->

	</div> <!-- end of page full width -->



