= session[:user_id]
= session[:username]
= link_to('<< Back to login page', {:action => 'login'})
= form_for(:change, :url => {:action => 'update_password', :id => @change.id}) do |f|
  %fieldset
    %p
      = f.label(:password, "Enter new password")
      = f.password_field(:password)
    %br/
    = submit_tag("CHANGE PASSWORD", {:class => 'button round blue text-upper image-right ic-right-arrow'})