<%= form_tag({:action => 'attempt_login'}, :class => "form-signin")  do %>

    <h3 class="form-signin-heading">Admin Login</h3>

   
    <%= text_field_tag :username, nil, :class => 'input-block-level', :placeholder=>'Username' %>

    <%= password_field_tag(:password, nil, :class=> 'input-block-level', :placeholder=>'Password') %>


    <%= link_to("Forgot your password?", {:action => 'forgot_password'}) %>
    <br><br>

    <%= submit_tag("Sign In", {:class => 'btn btn-primary'}) %> 
    <br><br>

    <% if !flash[:notice].blank? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= flash[:notice] %></strong>
        </div>
    <% end %>

<% end %>
