.header
  %h1.left Home
  = image_tag("user.png", :alt => "user", :class => 'right')
  %p.right
    Logged in as
    %br
      %a{:href => "#"}
        %strong= session[:username]
.content.both.home
  .row
    .span12
      %h5.typehead Profile
      .row
        .user-image.span4
          = image_tag("fb-dp.jpg", :alt => "user")
        .span8.user-profile
          .row
            .span3
              %table.table.table-bordered
                %tr
                  %td Name:
                  %td
                    = @user.first_name
                    \&nbsp;#{@user.last_name}
                %tr
                  %td Position:
                  %td Administrator
              %a.btn.btn-primary{"data-toggle" => "modal", :href => "#viewDetails", :role => "button"} View More