
	<div class="side-content grid_20 prefix_2 suffix_2">
	
		<div class="content-module">
	
			<div class="content-module-heading cf">
				<h3> User Profile </h3>
			</div> <!-- end of content-module-heading -->
	
			<div class="content-module-main cf">
				
				<div class="user-image fl">
					<img src="../assets/profile-image.png" alt="profile-image" />

				</div>
	
				<div class="info fr">
					<div class="sub-heading cf">
						<h4>Personal Information</h4>
					</div>
						<div class="user-information">
							<p>Name: <%= @user.first_name %>&nbsp;<%= @user.last_name %><br />
								Address: <%= @user.address%><br />
								Age: <%= @user.age %><br />
								Sex: <%= @user.sex %><br />
								Birthdate: <%= @user.birthdate.strftime("%B %e, %Y") %>
							</p>
						</div>
								
					<div class="sub-heading cf">
						<h4>Contact Information</h4>
					</div>
						<div class="user-information">
							<p>Mobile: <%= @user.mobile %><br />
								Email: <%= @user.email %><br />
							</p>
						</div>
				</div>
	
			</div> <!-- end of content-module-main -->
	
		</div> <!-- end of content-module -->
	
	</div> <!-- end of side-content -->
	
