.header
  %h1.left Home
  = image_tag("user.png", :alt => "user", :class => 'right')
  %p.right
    Logged in as
    %br
      %a{:href => "#"}
        %strong= session[:username]
.content.both.home
  .row
    .span12
      %h5.typehead Admin Profile
      .row
        .user-image.span4
          = image_tag("fb-dp.jpg", :alt => "user")
        .span8.user-profile
          .row
            .span3
              %table.table.table-bordered
                %tr
                  %td Name:
                  %td
                    = @user.first_name
                    \&nbsp;#{@user.last_name}
                %tr
                  %td Position:
                  %td Administrator
              %a.btn.btn-primary{"data-toggle" => "modal", :href => "#viewDetails", :role => "button"} View More
          #viewDetails.modal.hide.fade.admin-profile.modal-show
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h3 User Profile
            .modal-body
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th{:colspan => "2"} Personal Information
                %tbody
                  %tr
                    %td Name
                    %td
                      = @user.first_name
                      \&nbsp;#{@user.last_name}
                  %tr
                    %td Address
                    %td= @user.address
                  %tr
                    %td Age
                    %td= @user.age
                  %tr
                    %td Sex
                    %td= @user.sex
                  %tr
                    %td Birthdate
                    %td= @user.birthdate.to_date.strftime("%B %d, %Y")
            .modal-footer
              %a.btn{"data-dismiss" => "modal", :href => "#"} Close