

			<div class="header">
				<h1 class="left">Home</h1>
	      <%= image_tag("user.png", :alt => "user", :class => 'right') %>
	      <p class="right">Logged in as <br><a href="#"><strong><%= session[:username] %></strong></a></p>
			</div>

			<div class="content both home">

				<div class="row">
						<div class="span12">
							<h5 class="typehead">Admin Profile</h5>
							
							<div class="row">
								<div class="user-image span4">
	                <%= image_tag("fb-dp.jpg", :alt => "user") %>
	              </div>

	              <div class="span8 user-profile">
	              	<div class="row">

	              		 <div class="span3">
	              		 	<table class="table table-bordered">
		                    <tr>
		                      <td>Name:</td>
		                      <td><%= @user.first_name %>&nbsp;<%= @user.last_name %></td>
		                    </tr>
		                    <tr>
		                      <td>Position:</td>
		                      <td>Administrator</td>
		                    </tr>
		                  </table>
		
		                    <a href="#viewDetails" role="button" class="btn btn-primary" data-toggle="modal">View More</a>
	              		 </div>
	              	</div>

	              	<div id="viewDetails" class="modal hide fade admin-profile">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3>User Profile</h3>
                    </div>
                
                    <div class="modal-body">

                    	<table class="table table-bordered table-striped">
                    		<thead>
                    			<tr>
                    				<th colspan="2">Personal Information</th>
                    			</tr>
                    		</thead>
                    		<tbody>
                    			<tr>
                    				<td>Name</td>
                    				<td><%= @user.first_name %>&nbsp;<%= @user.last_name %></td>
                    			</tr>
                    			<tr>
                    				<td>Address</td>
                    				<td><%= @user.address%></td>
                    			</tr>
                    			<tr>
                    				<td>Age</td>
                    				<td><%= @user.age %></td>
                    			</tr>
                    			<tr>
                    				<td>Sex</td>
                    				<td><%= @user.sex %></td>
                    			</tr>
                    			<tr>
                    				<td>Birthdate</td>
                    				<td><%= @user.birthdate.to_date.strftime("%B %d, %Y") %></td>
                    			</tr>
                    		</tbody>
                    	</table>
                    </div>
                
                    <div class="modal-footer">
                      <a href="#" class="btn" data-dismiss="modal">Close</a>
                    </div>
                  </div> <!-- end of modal -->

	              </div> <!-- end of user-profile -->

	            </div> <!-- end of row -->
						</div> <!-- end of span12 -->
				</div> <!-- end of row -->
			</div> <!-- end of content -->