<% @page_title = "Create New Schedule" %>
<%= error_messages_for(@schedule) %>

<div class="addrecord">

	<table>
		<tr>	
			<td><%= f.label(:name) %></td>
			<td><%= f.text_field(:name, :class=> 'round') %></td>
		</tr>
		<tr>	
			<td><%= f.label(:contact_no, "Contact No.") %></td>
			<td><%= f.text_field(:contact_no, :class=> 'round') %></td>
		</tr>
		<tr>	
			<td><%= f.label(:schedule_for, "Schedule For") %></td>
			<td><%= f.select(:schedule_for, %w(pediatrics orthodontics)) %></td>
		</tr>
		<tr>
			<td><%= f.label(:scheduled_on) %></td>
			<td><%= f.date_select(:scheduled_on, :order => [:month, :day, :year]) %></td>
		</tr>
		<tr>
			<td><%= f.label(:time) %></td>
			<td><%= f.time_select(:time) %></td>
		</tr>
	</table>
	<br />
</div>