<% @page_title = "Delete Schedule Record" %>

	<div class="side-menu grid_5">

		<div class="side-menu-option">
			<%= render(:partial => 'sidenav') %>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->

	<div class="side-content grid_19">
		<div class="content-module">
			<div class="content-module-heading cf">
				<h3> DELETE SCHEDULE RECORD </h3>
			</div> <!-- end of content-module-heading -->

			<div class="content-module-main">
	
					<%= form_for(:schedule, :url => {:action => 'destroy', :id => @schedule.id}) do |f| %>
						<div class="personal-information">

						<p>
							<%= label(:name, "Name: ") %>
							<%= @schedule.name %><br />
												
							<%= label(:contact_no, "Contact No.: ") %>
							<%= @schedule.contact_no %><br />
											
							<%= label(:schedule_for, "Schedule For: ") %>
							<%= @schedule.schedule_for %><br />
											
							<%= label(:scheduled_on, "Date: ") %>
							<%= @schedule.scheduled_on %><br />
												
							<%= label(:time, "Time: ") %>
							<%= @schedule.time %><br />
						</p>

					</div> <!-- end of personal-information -->
											<br />
						<%= submit_tag("DELETE", {:class => 'button round blue text-upper image-right ic-delete'}) %>
					<% end %>

				</div> <!-- end of content-module-main -->

			</div> <!-- end of content-module -->

	</div> <!-- end of page full width -->



