<%= error_messages_for(@orthodontic) %>

<div class="addrecord">
	<table>
    <thead>
      <tr>
        <td colspan="4"><h4>Basic Information</h4></td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= f.label(:full_name) %></td>
        <td colspan="3"><%= f.text_field(:full_name, :value => @full_name, :class=>'input-xlarge') %></td>
      </tr>

      <tr>
        <td><%= f.label(:address) %></td>
        <td colspan="3"><%= f.text_field(:address, :class=> 'input-xlarge addres') %></td>
      </tr>

      <tr>
        <td><%= f.label(:occupation) %></td>
        <td><%= f.text_field(:occupation, :class=> 'input-medium') %></td>

        <td><%= f.label(:resident_no) %></td>
        <td><%= f.text_field(:resident_no, :class=> 'input-medium') %></td>
      </tr>

      <tr>
        <td><%= f.label(:reffered_by) %></td>
        <td><%= f.text_field(:reffered_by, :class=> 'input-medium') %></td>

        <td><%= f.label(:birth_date) %></td>
        <td><%= f.text_field(:birth_date, :class=> 'input-medium') %></td>
      </tr>

      <tr>
        <td><%= f.label(:mobile_no) %></td>
        <td><%= f.text_field(:mobile_no, :class=> 'input-medium') %></td>


        <td><%= f.label(:age) %></td>
        <td>
          <%= f.select(:age, 1..90, { :include_blank => true }, :class=>'auto') %>
        </td> 
      </tr>

      <tr>
        <td><%= f.label(:sex) %></td>
        <td>
          <%= f.select(:sex, %w{Male Female},:class=>'auto' ) %>
        </td>

        <td><%= f.label(:status) %></td>
        <td>
          <%= f.select(:status, %w{Single Married}) %>
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <tr>
      <td colspan="8"><h4>Examination</h4></td>
    </tr>
    
    <tr>
      <td><%= f.label(:examination_date) %></td>
      <td><%= f.text_field(:examination_date, :class => 'input-medium') %></td>
    </tr>
    
    <tr>
      <td><%= f.label(:examination_result) %></td>
      <td colspan="8">
        <%= f.text_area(:examination_result, :size => '40x5') %>
      </td>
    </tr>
  </table>
</div> <!-- end of add-record -->