= form_for @orthodontic, remote: true, :class => 'modal-form'  do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3 Orthodontics
  .modal-body
    #post_errors.alert.alert-error{:style => "display:none"}
      - error_messages_for(@orthodontic)
    .addrecord
      %table
        %thead
          %tr
            %td{:colspan => "4"}
              %h4 Basic Information
        %tbody
          %tr
            %td= f.label(:full_name)
            %td{:colspan => "3"}= f.text_field(:full_name, :class=>'input-xlarge')
          %tr
            %td= f.label(:address)
            %td{:colspan => "3"}= f.text_field(:address, :class=> 'input-xlarge addres')
          %tr
            %td= f.label(:occupation)
            %td= f.text_field(:occupation, :class=> 'input-medium')
          %tr
            %td= f.label(:resident_no)
            %td= f.text_field(:resident_no, :class=> 'input-medium')
          %tr
            %td= f.label(:reffered_by)
            %td= f.text_field(:reffered_by, :class=> 'input-medium')
          %tr
            %td= f.label(:birth_date)
            %td= f.text_field(:birth_date, :class=> 'input-medium datepicker', placeholder: 'YYYY-MM-DD', "data-date-format" => "yyyy-mm-dd")
          %tr
            %td= f.label(:mobile_no)
            %td= f.text_field(:mobile_no, :class=> 'input-medium')
          %tr
            %td= f.label(:age)
            %td= f.select(:age, 1..90, { :include_blank => true }, :class=>'auto')
          %tr
            %td= f.label(:sex, "Gender")
            %td= f.select(:sex, %w{Male Female},:class=>'auto' )
          %tr
            %td= f.label(:status)
            %td= f.select(:status, %w{Single Married})
  .modal-footer
    = submit_tag("Submit", {:class => 'btn btn-primary'})