.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  %h3 Show Record
.modal-body
 
  %table.show-details.table.table-bordered
    %thead
      %tr
        %th{:colspan=> '2'} Personal Information
    %tbody
      %tr
        %td Name: 
        %td= @orthodontic.full_name
      %tr
        %td Address: 
        %td= @orthodontic.address
      %tr
        %td Age: 
        %td= @orthodontic.age
      %tr
        %td Gender: 
        %td= @orthodontic.sex
      %tr
        %td Status: 
        %td= @orthodontic.status
      %tr
        %td Occupation: 
        %td= @orthodontic.occupation
      %tr
        %td Referred by: 
        %td= @orthodontic.reffered_by
      %tr
        %td Mobile: 
        %td= @orthodontic.mobile_no
      %tr
        %td Res Tel: 
        %td= @orthodontic.resident_no
      %tr
        %td Birthdate: 
        %td= @orthodontic.birth_date
  %table.show-details.table.table-bordered
    %thead
      %tr
        %th{:colspan=> '2'} Examination
    %tbody
      %tr
        %td Date: 
        %td= @orthodontic.examination_date 
      %tr
        %td Examination: 
        %td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      %tr
        %td Created At:
        %td= @orthodontic.created_at
      %tr
        %td Updated At:
        %td= @orthodontic.updated_at

.modal-footer
  %a.btn{"data-dismiss" => "modal", :href => "#"} Close
  = link_to raw('<i class="icon-print icons-black"></i>'), show_path(orthodontic_id: @orthodontic.id), id: 'my-link'