- @page_title = "List Orthodontics"
.container
  .header
    .left.subtitle
      %h1 Ortho
      %span
        %i.icon-list.icons-black
        List of Patient Records
    = link_to raw('<i class="icon-plus-sign icons-black"></i>&nbsp;&nbsp;Add Record'), "#OrthoAddRecord", "role" => "button", "data-toggle" => "modal", :class => 'btn btn-success right'
  .content.both
    .row
      .span12
        #posts_list
          = render(:partial => "list")
#OrthoAddRecord{'class' => 'modal hide fade record modal-ortho-add'}
  = render(:partial => "form")

#OrthoEditRecord{'class' => 'modal hide fade record modal-ortho-add'}
  = render(:partial => "form")

#OrthoShowRecord{'class' => 'modal hide fade modal-show'}
  = render(:partial => "show")
          

