<% @page_title = "List Orthodontics" %>
	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<%= render(:partial => 'sidenav') %>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->
<div class="side-content grid_19">
	<div class="content-module grid_19">
		<div class="wrapper-heading">
			<div class="content-module-heading cf">
				<h3 class="grid_6">ORTHODONTICS LIST OF RECORDS</h3>
				<%= render(:partial => 'shared/search') %>
			</div> <!-- end of side-content-heading -->
		</div>
			<div class="content-module-main">
						<table class="patients-record">
							<thead>
								<tr>
									<th>id</th>
									<th>name</th>
									<th>address</th>
									<th>sex</th>
									<th>actions</th>
								</tr>
							</thead>
								<% @orthodontics.each do |ortho| %>
							<tbody>
								<tr class="<%= cycle('odd', 'even')%>">
									<td><%= ortho.id %></td>
									<td><%= ortho.full_name %></td>
									<td><%= ortho.address %></td>
									<td><%= ortho.sex %></td> 
									<td>
										<%= link_to raw('<i class="icon-eye-open"></i>'), ortho, "data-toggle" => "modal", role: "button", :class => 'btn' %>
										<%= link_to raw('<i class="icon-pencil"></i>'), edit_orthodontic_path(ortho), "data-toggle" => "modal", role: "button", :class => 'btn' %>
										<%= link_to raw('<i class="icon-remove"></i>'), ortho, "data-toggle" => "modal", :confirm => 'Are you sure?', method: :delete, role: "button", :class => 'btn' %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>	
					<div class="pagination">	
						<%= will_paginate @pediatrics, :container => false %>
			</div>
		</div> <!-- end of content-module-main -->
	</div> <!-- end of content-module -->
</div> <!-- end of side-content -->
