<% @page_title = "List Orthodontics" %>
	<div class="header">
		<h1 class="left">Home <small>page</small> </h1>
	  <%= image_tag("user.png", :alt => "user", :class => 'right') %>
	  <p class="right">Logged in as <br><a href="#"><strong><%= session[:username] %></strong></a></p>
	</div>

	<div class="content both">
		<div class="row">
			
			<div class="span3">
        <ul class="nav nav-list sidenav">
        	<li class="active"><%=  link_to_unless_current('Patients Record', {:action => 'list'}){|link|content_tag 'a', link, :class => 'active-tab'} %></li>
					<li><%=  link_to_unless_current('Add Record', {:action => 'new'}){|link|content_tag 'a', link} %></li>
          <li class="active"><a href="#"><i class="icon-chevron-right"></i>Patients Record</a></li>
          <li><a href="ortho-addrecord.php"><i class="icon-chevron-right"></i>Add Record</a></li>
        </ul>
      </div> <!-- end of span3 -->

      <div class="span9">
       
        <div class="records clearfix">
          <h4 class="left">Patients Record</h4>
          
          <form action="#" method="post" class="form-search right">
            <div class="input-append">
              <input type="text" class="span2 search-query">
              <button type="submit" class="btn btn-success"><i class="icon-search"></i></button>
            </div>
          </form>

           <table class="both table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>SEX</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <% @orthodontics.each do |ortho| %>
            <tbody>
                <tr class="<%= cycle('odd', 'even')%>">
                    <td><%= ortho.id %></td>
										<td><%= ortho.full_name %></td>
										<td><%= ortho.address %></td>
										<td><%= ortho.sex %></td> 
                    <td>
                        <div class="btn-group">
                        	<%= link_to("", {:action => 'show', :id => ortho.id }, :class => 'btn', :title => "show", :role => "button" :data-toggle="modal") %>
													<%= link_to("", {:action => 'edit', :id => ortho.id }, :class => 'btn', :title => "edit") %>
													<%= link_to("", {:action => 'delete', :id => ortho.id }, :class => 'btn', :title => "delete") %>

                          <a href="#viewDetails" role="button" class="btn" data-toggle="modal"><i class="icon-eye-open"></i></a>
                          <a href="#" class="btn"><i class="icon-pencil"></i></a>
                          <a href="#" class="btn"><i class="icon-remove"></i></a>
                        </div>
                    </td>
                </tr>

              </tbody>
          </table>

          <!-- Modal -->
          <div id="viewDetails" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
              <h3 id="viewDetailsLabel">View Details</h3>
            </div>
            <div class="modal-body">
              <table class="show-details table table-bordered">
                  <thead>
                      <tr>
                          <th colspan="2">Personal Information</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Name: </td>
                          <td>Michael Jhon Raagas</td>
                      </tr>
                      <tr>
                          <td>Address: </td>
                          <td>#88 1st St. Area5 Veterans Village, Pasong Tamo, Quezon City</td>
                      </tr>
                      <tr>
                          <td>Age: </td>
                          <td>22</td>
                      </tr>
                      <tr>
                          <td>Sex: </td>
                          <td>Male</td>
                      </tr>
                      <tr>
                          <td>Status: </td>
                          <td>Single</td>
                      </tr>
                      <tr>
                          <td>Occupation: </td>
                          <td>None</td>
                      </tr>
                      <tr>
                          <td>Referred by: </td>
                          <td>None</td>
                      </tr>
                      <tr>
                          <td>Mobile: </td>
                          <td>0909448532</td>
                      </tr>
                      <tr>
                          <td>Res Tel: </td>
                          <td>012345</td>
                      </tr>
                      <tr>
                          <td>Birthdate: </td>
                          <td>June 20, 1990</td>
                      </tr>
                  </tbody>
              </table>

              <table class="show-details table table-bordered">
                  <thead>
                      <tr>
                          <th colspan="2">Examination</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Date: </td>
                          <td>January 1, 2012</td>
                      </tr>
                      <tr>
                          <td>Examination: </td>
                          <td>Mild fever with dry cough and runny nose, need to take 3 medicines a day</td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>

        </div> <!-- end of patient-record -->

      </div> <!-- end of span9 -->

		</div>
	</div> <!-- end of content -->

















<% @page_title = "List Orthodontics" %>
	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<%= render(:partial => 'sidenav') %>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->
<div class="side-content grid_19">
	<div class="content-module grid_19">
		<div class="wrapper-heading">
			<div class="content-module-heading cf">
				<h3 class="grid_6">ORTHODONTICS LIST OF RECORDS</h3>
				<%= render(:partial => 'shared/search') %>
			</div> <!-- end of side-content-heading -->
		</div>
			<div class="content-module-main">
						<table class="patients-record">
							<thead>
								<tr>
									<th>id</th>
									<th>name</th>
									<th>address</th>
									<th>sex</th>
									<th>actions</th>
								</tr>
							</thead>
								<% @orthodontics.each do |ortho| %>
							<tbody>
								<tr class="<%= cycle('odd', 'even')%>">
									<td><%= ortho.id %></td>
									<td><%= ortho.full_name %></td>
									<td><%= ortho.address %></td>
									<td><%= ortho.sex %></td> 
									<td>
										<%= link_to("", {:action => 'show', :id => ortho.id }, :class => 'table-show-details ic-table-show', :title => "show") %>
										<%= link_to("", {:action => 'edit', :id => ortho.id }, :class => 'table-edit-button ic-table-edit', :title => "edit") %>
										<%= link_to("", {:action => 'delete', :id => ortho.id }, :class => 'table-delete-button ic-table-delete', :title => "delete") %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>	
					<div class="pagination">	
						<%= will_paginate @pediatrics, :container => false %>
			</div>
		</div> <!-- end of content-module-main -->
	</div> <!-- end of content-module -->
</div> <!-- end of side-content -->
