.records
  %h4.left
  = render(:partial => 'shared/search')
  %table.both.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %th Username
        %th Name
        %th Email
        %th Actions
    - @admin_users.each do |admin_user|
      %tbody
        %tr{:class => cycle('odd', 'even')}
          %td= admin_user.username
          %td= admin_user.name
          %td= mail_to(admin_user.email)
          %td
            .btn-group
              = link_to raw('<i class="icon-pencil icons-black"></i>'), edit_admin_user_path(admin_user), remote: true, role: "button", :class => 'btn', :title => 'edit'
              = link_to raw('<i class="icon-trash icons-black"></i>'), admin_user, remote: true, :confirm => 'Are you sure?', method: :delete, role: "button", :class => 'btn', :title => 'delete'