<% @page_title = "Users List" %>

	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<h3> Options </h3>
			<ul>
				<li><%=  link_to('Users Record', {:controller => 'admin_users', :action => 'list'}, :class=> 'active-tab') %></li>
				<li><%=  link_to('Add Record', {:controller => 'admin_users', :action => 'new'}) %></li>
			</ul>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->

			<div class="side-content grid_19">
				
				<div class="content-module">

					<div class="content-module-heading cf">
						<h3 class="grid_6">ADMIN USERS LIST OF RECORDS</h3>
					<%= render(:partial => 'shared/search') %>
					</div> <!-- end of side-content-heading -->
					
					<div class="content-module-main cf">
					
						<table class="patients-record">
							<thead>
								<tr>
									<th>id</th>
									<th>username</th>
									<th>name</th>
									<th>email</th>
									<th>actions</th>
								</tr>
							</thead>
								<% @admin_users.each do |admin_user| %>
							<tbody>
								<tr class="<%= cycle('odd', 'even')%>">
									<td><%= admin_user.id %></td>
									<td><%= admin_user.username %></td>
									<td><%= admin_user.name %></td>
									<td><%= mail_to(admin_user.email) %></td> 
									<td>
										<%= link_to("", {:action => 'edit', :id => admin_user.id }, :class => 'table-edit-button ic-table-edit', :title => "edit") %>
										<%= link_to("", {:action => 'delete', :id => admin_user.id }, :class => 'table-delete-button ic-table-delete', :title => "delete") %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div> <!-- end of content-module-main -->

				</div> <!-- end of content-module -->

			</div> <!-- end of side-content -->

