<% @page_title = "Create New User" %>

	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<h3> Options </h3>
			<ul>
				<li><%=  link_to('Users Record', {:controller => 'admin_users', :action => 'list'}, :class=> 'active-tab') %></li>
				<li><%=  link_to('Add Record', {:controller => 'admin_users', :action => 'new'}) %></li>
			</ul>
		</div> <!-- end of side-menu-option -->
		<div class="side-menu-calendar">
			<a href="#"><img src="../assets/calendar.png" alt="calendar"></a>
		</div>
	</div> <!-- end of side-menu -->
	
	<div class="side-content grid_19">
		<div class="content-module">
			<div class="content-module-heading cf">
				<h3> ADMIN USER FORM </h3>
			</div> <!-- end of content-module-heading -->

			<div class="content-module-main">
	
		<%= form_for(:admin_user, :url => {:action => 'create'}) do |f| %>

			<%= render(:partial => "form", :locals => {:f => f}) %>
			
		</div> <!-- end of personal-information -->
			<%= submit_tag("Create User", {:class => 'button round blue text-upper image-right ic-right-arrow'}) %>
		<% end %>

				</div> <!-- end of content-module-main -->

			</div> <!-- end of content-module -->

	</div> <!-- end of page full width -->



