<%= error_messages_for(@immunization) %>
<table>
	<tr>
		<td><%= f.label(:pediatric_id, "Pedia") %></td>
		<td><%= f.select(:pediatric_id, [@pediatric.id]) %></td>
	</tr>

	<tr>
		<td><%= f.label(:vaccination_name, "Vaccine Name") %></td>
		<td><%= f.select(:vaccination_name, %w{Bcg DPT OPV Measles MMR Typhoid Hib Hepatitis_A Hepatitis_B Chickenpox Meningococcal Pneumomcoccal}) %></td>
	</tr>

	<tr>
		<td><%= f.label(:vaccination_session, "Vaccination Session") %></td>
		<td><%= f.select(:vaccination_session, %w{none 1st 2nd 3rd}) %></td>
	</tr>

	<tr>
		<td><%= f.label(:booster_session, "Booster Session") %></td>
		<td><%= f.select(:booster_session, %w{none 1st 2nd}) %></td>
	</tr>
	<tr>
		<td><%= f.label(:vaccination_type, "Type of Vaccination") %></td>
		<td><%= f.text_field(:vaccination_type, :class=>'round half-size-input') %></td>
	</tr>
</table>
</div>