<% @page_title = "Immunization List" %>
	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<%= render(:partial => "sidenav") %>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->
	<div class="side-content grid_19">
		
		<div class="content-module">

			<div class="content-module-heading cf">
				<h3>Immunization Content Modules</h3>
			</div> <!-- end of side-content-heading -->
			
			<div class="content-module-main cf">
			
				<table class="patients-record">
					<thead>
						<tr>
							<th>Date</th>
							<th>Vaccine Name</th>
							<th>Vaccination Session</th>
							<th>Booster</th>
							<th>Vaccination Type</th>
							<th>Actions</th>
						</tr>
					</thead>
						<% @immunizations.each do |immune| %>
					<tbody>
						<tr class="<%= cycle('odd', 'even')%>">
							<td><%= immune.created_at.strftime("%B %e, %Y") %></td>
							<td><%= immune.vaccination_name %></td>
							<td><%= immune.vaccination_session %></td>
							<td><%= immune.booster_session %></td>
							<td><%= immune.vaccination_type %></td>
							<td>
								<%= link_to("", {:action => 'edit', :id => immune.id, :pediatric_id => @pediatric.id }, :class => 'table-edit-button ic-table-edit', :title => "edit") %>
								<%= link_to("", {:action => 'delete', :id => immune.id, :pediatric_id => @pediatric.id }, :class => 'table-delete-button ic-table-delete', :title => "delete") %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>	
			
			</div> <!-- end of content-module-main -->

		</div> <!-- end of content-module -->

	</div> <!-- end of side-content -->