<div class="navbar navbar-inverse navbar-static-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <div class="nav-collapse collapse">
	        <ul class="nav">
						<li class="<%= 'active' if current_page?(home_path) %>"><%= link_to "Home", home_path %></li>
						<li class="<%= 'active' if current_page?(orthodontics_path) %>"><%= link_to "Ortho", orthodontics_path %></li>
						<li class="<%= 'active' if current_page?(pediatrics_path) %>"><%= link_to "Pedia", pediatrics_path %></li>
						<li class="<%= 'active' if current_page?(inventories_path) %>"><%= link_to "Inventories", inventories_path %></li>
						<li class="<%= 'active' if current_page?(admin_users_path) %>"><%= link_to "Users", admin_users_path %></li>
						<li class="<%= 'active' if current_page?(schedules_path) %>"><%= link_to "Schedules", schedules_path %></li>
						<li class="<%= 'active' if current_page?(pendings_path) %>"><%= link_to "Pending", pendings_path %></li>
						<li class="<%= 'active' if current_page?(analytics_path) %>"><%= link_to "Analytics", analytics_path %></li>
					</ul>
					<ul class="nav pull-right">
						<% if !flash[:schedules].blank? %>
		    			<li><%= link_to(flash[:schedules], {:controller => 'schedules', :action => 'show'}, raw("<i class=\"icon-align-left\"></i>") ) %></li>
						<% end %>
						<% if !flash[:pendings].blank? %>
		    			<li><%= link_to(flash[:pendings], {:controller => 'pendings', :action => 'show'}, raw("<i class=\"icon-align-left\"></i>") ) %></li>
						<% end %>
						<li><%=  link_to('Logout', {:controller => 'admin', :action => 'logout'})  %></li>
					</ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>
</div>

