<ul id="tabs">
			<li><%=  link_to_unless_current('Home', {:controller => 'access', :action => 'home'}, :class => 'home-tab inactive-tab'){|link|content_tag 'a', link, :class => 'home-tab active-tab'}  %></li>
			<li><%=  link_to_unless_current('Ortho', {:controller => 'orthodontics'}, :class => 'ortho-tab inactive-tab'){|link|content_tag 'a', link, :class => 'ortho-tab active-tab'} %></li>
			<li><%=  link_to_unless_current('Pedia', {:controller => 'pediatrics'}, :class => 'pedia-tab inactive-tab'){|link|content_tag 'a', link, :class => 'pedia-tab active-tab'} %></li>
			<li><%=  link_to_unless_current('Inventories', {:controller => 'inventories'}, :class => 'inventory-tab inactive-tab'){|link|content_tag 'a', link, :class => 'inventory-tab active-tab'} %></li>
			<li><%=  link_to_unless_current('Users', {:controller => 'admin_users'}, :class => 'users-tab inactive-tab'){|link|content_tag 'a', link, :class => 'users-tab active-tab'} %></li>
			<li><%=  link_to_unless_current('Schedules', {:controller => 'schedules'}, :class => 'schedule-tab inactive-tab'){|link|content_tag 'a', link, :class => 'schedule-tab active-tab'} %></li>
			<li><%=  link_to_unless_current('Pending', {:controller => 'pendings'}, :class => 'pending-tab inactive-tab'){|link|content_tag 'a', link, :class => 'pending-tab active-tab'} %></li>
			<li><%=  link_to_unless_current('Analytics', {:controller => 'analytics'}, :class => 'analytics-tab inactive-tab'){|link|content_tag 'a', link, :class => 'analytics-tab active-tab'} %></li>
		</ul>
<ul class="company-logo-small fr"></ul>