!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        Outpatient Thesis #{"| #{@page_title}" if @page_title}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "JsonManz", :name => "author"}
          = csrf_meta_tags
          = javascript_include_tag "application", "bootstrap.js", "highcharts.js", "bootstrap-datepicker", "exporting.js"
          = stylesheet_link_tag('bootstrap', 'datepicker', 'public', 'admin', :media => "all")
          = render 'shared/shim'
          %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
  %body
    #wrap
      = render(:partial => 'layouts/navigation')
      .container
        - flash_display
        #flash_notice
          - flash.each do |key, value|
            = content_tag(:div, value, id: "flash_notice", class: "alert alert-#{key}")
        = yield
  = render "layouts/footer"
#viewDetails.modal.hide.fade.admin-profile.modal-show
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3 User Profile
  .modal-body
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th{:colspan => "2"} Personal Information
      %tbody
        %tr
          %td Name
          %td
            = @user.first_name
            \&nbsp;#{@user.last_name}
        %tr
          %td Address
          %td= @user.address
        %tr
          %td Age
          %td= @user.age
        %tr
          %td Sex
          %td= @user.sex
        %tr
          %td Birthdate
          %td= @user.birthdate.to_date.strftime("%B %d, %Y")
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
  :javascript
    $(function() {
      $(".datepicker").datepicker({
        format: "yyyy-mm-dd"
      });
    });

