<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <title>Outpatient Thesis <%= "| #{@page_title}" if @page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="JsonManz">
    <link rel="icon" href="../assets/rails.png">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "bootstrap.js", "highcharts.js", "jquery-1.6.1.min.js", "exporting.js" %>
    <%= stylesheet_link_tag('bootstrap.css', 'public', 'admin') %>
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" >
<<<<<<< HEAD
  <script>
    $(function(){
      // ajax alert message
      $('#OrthoNew form').submit(function(){
            var self = $(this);
            $.post(self.attr('action'), self.serializeArray(), function(data){
                if (data.status) {
                    window.location.reload();
                } else {
                    self.find('#error').html(data.message).show();
                }
            }, 'json');
            return false;
        });
    });
  </script>
=======

  
>>>>>>> ee7151e7035743abb27841af3224739de7db42d2
  </head>
  <body>

	<div id="wrap">


    <%= render(:partial => 'layouts/navigation') %> <!-- Navigation -->


		<div class="container">

			<% if !flash[:notice].blank? %>
				<br>
	  		<div class="alert alert-success">
	  			<button type="button" class="close" data-dismiss="alert">&times;</button>
	    		<strong><%= flash[:notice] %></strong>
	  		</div>
			<% end %>

			


			<%= yield %>
		</div> <!-- end of container -->

  </div> <!-- end of wrap -->


	
  <div id="footer">
    <div class="container">
      <center>
        <p class="muted credit">&copy; Copyright 2013 <a href="#">St. Lukes Medical Center</a> All Rights Reserved.
          <br> Admin page by thesis group - <a href="#">Boys over Flowers</a></p>
      </center>
    </div>
  </div>
</body>
</html>


