!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        Outpatient Thesis #{"| #{@page_title}" if @page_title}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "JsonManz", :name => "author"}
          = csrf_meta_tags
          = render 'shared/shim'
          = javascript_include_tag "application", "bootstrap.js"
          = stylesheet_link_tag('bootstrap', 'public', 'admin')
          %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
  %body
    #wrap
      = render(:partial => 'layouts/navigation')
      .container
        #flash_notice{:style => "display:none"}
        = yield
  = render "layouts/footer"