!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        Outpatient Thesis #{"| #{@page_title}" if @page_title}
      %meta{:content => "JsonManz", :name => "author"}
        = javascript_include_tag 'application', 'bootstrap.js'
        = stylesheet_link_tag('bootstrap', 'public')
        %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
          %link{:href => "/favicon.ico", :rel => "shortcut icon"}
            %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
  %body
    %header.login
      .container
        %h1
          Outpatient Management System
          %small Admin Page
    %br
      %br
        .wrap
          .container
            .row
              .span4
                = yield
              / end of span4
              .span8
                #myCarousel.carousel.slide
                  / carousel items
                  .carousel-inner
                    / Main hero unit for a primary marketing message or call to action
                    .hero-unit.item.active
                      %h3
                        How it works?
                      %p The Outpatient Management System serves as an entry point to schedule an appointment with the Hospital Resident Doctor or Consultant Doctor for Medical Consultations and diagnosis...
                      %a.btn.btn-primary Learn more &raquo;
                    .item
                      .hero-unit.item.active
                        %h3 About Us
                        %p St. Luke's Medical Center (SLMC) has provided high-quality healthcare for over a century. It was founded in 1903 with a mission to provide outstanding out-patient care. Today it is the foremost and most admired hospital in the Philippines and an acknowledged leader in Asia.
                        %a.btn.btn-primary Learn more &raquo;
                  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
                  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
            #push
        #footer
          .container
            %center
              %p.muted.credit
                \&copy; Copyright 2013
                %a{:href => "#"} St. Lukes Medical Center
                All Rights Reserved.
                %br
                  Admin page by thesis group -
                  %a{:href => "#"} Boys over Flowers
        /
          Le javascript
          \==================================================
        / Placed at the end of the document so the pages load faster
        :javascript
          !function ($) {
            $(function(){
              // carousel demo
              $('#myCarousel').carousel()
            })
          }(window.jQuery)